$icon-music: "\e911";
$icon-film: "\e913";
$icon-display: "\e956";
$icon-switch: "\e9b6";
$icon-volume-high: "\ea26";
$icon-volume-low: "\ea28";
$icon-volume-mute: "\ea2a";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea55";
$icon-radio-unchecked: "\ea56";
